body {
  margin: 0;
  padding: 0;
  font-family: "Courier Prime", monospace !important;
  /* Color de fondo para toda la página */
  color: #333;

  background-color: #d1dae5 !important;
}

/* ----------cabezera--- */
.header {
  background-color: rgb(32, 32, 32);
  /*position: fixed;*/
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 100;
  max-height: 100px;
}

.header .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px;
}

.header a {
  color: white;
  text-decoration: none;
  font-family: "Courier Prime", monospace;
}



.header .logo img {
  width: 105px;
  /* Ajusta el ancho de la imagen según tus preferencias */
  max-height: auto;
  /* Ajusta la altura automáticamente para mantener la proporción */
}

li#inicio {
  font-weight: bold;
  font-size: 1.2rem;
}

.logo-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


.menu-icon {
  display: none;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;

}

.navigation ul li {
  display: inline-block;
}

.navigation ul li a {
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.2s linear;
  border-radius: 5px;
  margin: 5px 0;
}

.navigation ul li a:hover {
  color: rgb(150, 31, 162);
  background: black;
  text-decoration: none;
  /* Remueve el subrayado al pasar el cursor */
}

.logo {
  font-size: 24px;
  /* Tamaño del texto */
  color: #2b6d28;
  /* Color verde base para "Agro" */
  text-decoration: none;
  /* Remueve el subrayado del enlace */
  text-shadow: 1px 1px 2px #000;
  /* Sombra suave negra */
}

.logo:hover {
  text-decoration: none;
  /* Remueve el subrayado al pasar el cursor */
  color: white;
  /* Mantén el color blanco al pasar el mouse */
}

.logo .spectra {
  color: rgb(150, 31, 162);
  /* Color más oscuro para "Espectra" */
  font-weight: bold;
  /* Negrita para "Espectra" */
  text-shadow: 1px 1px 2px #000;
  /* Sombra suave negra */
}

/* subiriiiiii */
  

  .subir .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

form {
    margin-top: 100px;
    text-align: center;
}

p {
    text-align: center;
    font-size: 0.90rem;
    color: black;
}


/* pie de pagina */

footer {
  min-height: 75px;
  background-color: black;
  color: gray;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 100px;
  padding: 20px 0;
}



/* Estilos base para dispositivos móviles */
@media (max-width: 768px) {
  .header .container {
    padding: 35px;
  }

  .menu-icon {
    display: block;
    /* Muestra el ícono del menú */
  }

  .navigation ul {
    display: none;
    /* Oculta la lista de navegación por defecto */
    width: 100%;
    /* Asegura que ocupe todo el ancho disponible */
    position: absolute;
    /* Posicionamiento absoluto */
    background-color: #202020;
    /* Color de fondo para la lista desplegable */
    top: 100px;
    /* Coloca la lista debajo de la cabecera */
    left: 0;
    z-index: 1000;
    /* Asegura que se muestre sobre otros elementos */
  }

  .navigation ul li {
    display: block;
    /* Los elementos de la lista ocupan toda la línea */
    text-align: center;
    /* Centra el texto de cada elemento */
  }

  .navigation ul li a {
    padding: 10px 20px;
    /* Aumenta el relleno para hacer cada enlace más accesible */
  }
}

/* Estilos para el ícono de menú abierto/cerrado */
#icon-open {
  display: block;
}

#icon-close {
  display: none;
}

#icon-open {
  color: #007bff !important;
  /* Fuerza el cambio de color */
  font-size: 27px;
  /* Ajusta el tamaño del ícono */

}

#icon-close {
  color: #dc3545 !important;
  /* Fuerza el cambio de color */
  font-size: 27px;
  /* Ajusta el tamaño del ícono */

}

.menu-icon {
  cursor: pointer;
  /* Cambia el cursor a un puntero para indicar que es clickeable */
  box-sizing: content-box;
  /* Cambia el box-sizing si es necesario */
  position: absolute;
  right: 0;
  /* Asegúrate de que esté totalmente a la derecha */
  top: 10px;
  /* Ajusta según la altura de tu header */

  padding: 0;
  margin: 25px;
  /* Elimina márgenes para evitar cualquier desplazamiento */

}